modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt", "libyaml"]

[deployment]
run = ["sh", "-c", "python3 main_orchestrator.py remote"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
